<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/create">News</a>
  </div>
  <div class="table-container">
    <div class="title-table">List User</div>
    <table>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>City</th>
        <th>Action</th>
      </tr>

      <% data.forEach(function(user) { %>
        <tr>
          <td>
            <%= user.id%>
          </td>
          <td>
            <%= user.email%>
          </td>
          <td>
            <%= user.name%>
          </td>
          <td>
            <%= user.city%>
          </td>
          <td>
            <button>Edit</button>
            <button>Delete</button>
          </td>
        </tr>
        <% }); %>
    </table>
  </div>
</body>
</html>